{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block body %}
<div class="row">
  <div class="col-10 offset-1 col-md-6 offset-md-3">
    <div class="card mt-5">
      <div class="card-header text-center">
        <h5 class="card-title">
          {% if process == "connect" %}
            {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
          {% else %}
            {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
          {% endif %}
        </h5>
      </div>
      <div class="card-body">
        <form method="post" class="text-center">
          {% csrf_token %}
          {% if process == "connect" %}
            <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
          {% else %}
            <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
          {% endif %}
          <button class="btn btn-primary" type="submit">{% trans "Continue" %}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
