<div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav justify-content-center">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle"></i> Profile
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                {% if not request.user.is_authenticated %}
                    <li><a class="dropdown-item" href="{% url 'login' %}">Sign In</a></li>
                    <li><a class="dropdown-item" href="{% url 'signup' %}">Sign Up</a></li>
                {% else %}
                    <li><a class="dropdown-item" href="{% url 'account_settings' %}">Account Settings</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Sign Out</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
</div>